.card_container {
  margin: 0 auto;
}

.cards {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 5px;
}

.card {
  position: relative;
  margin-bottom: 20px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .card {
    /* max-width: 320px; */
    margin-right: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

.card span {
  display: block;
}
.card .card-summary {
  padding: 5% 5% 3% 5%;
  margin-bottom: 40px;
}
.card .card-header {
  position: relative;
}
.card .card-header:hover,
.card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: #f5b921;
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  width: 100%;
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.card .card-meta {
  color: #666;
  font-size: 0.78em;
  padding: 5%;
  /* position: absolute; */
  bottom: 0px;
}

.card-meta {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.acknowledge_button {
  padding: 8px;
  background: #677eff;
  color: #fefff9;
  border: none;
}

.acknowledge_button:hover {
  transform: scale(1.1);
}

.acknowledged {
  font-size: 1.5rem;
  color: #07bc0c;
}

.edit_notice {
  display: none !important;
  position: absolute;
  right: 0;
}

.card:hover,
.card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .edit_notice,
.card:focus .edit_notice {
  display: block !important;
}

img {
  max-width: 100%;
}

@media (max-width: 940px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
